.panel {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.91);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    visibility: visible;
    -unity-background-image-tint-color: rgb(0, 0, 0);
    width: 400px;
    height: 60px;
}

.header {
    font-size: 30px;
    height: 100px;
    color: rgb(255, 255, 255);
}
